In [5]:
# Écriture dans un fichier texte
with open('output.txt', 'w', encoding='utf8') as file:
    file.write("Contenu à écrire dans le fichier.")

In [6]:
import json
#Ecriture dans un fichier json
data = {'FirstName': 'John', 'LastName': 'Doe', 'Colonne1': [1, 2, 3]}
with open('output.json', 'w') as f:
    json.dump(data, f, indent=2)

## Création de fichier CSV

In [7]:
import pandas as pd

# Création d'un DataFrame
data = {'Colonne1': [1, 2, 3], 'Colonne2': ['A', 'B', 'C']}
df = pd.DataFrame(data)

display(df)

   Colonne1 Colonne2
0         1        A
1         2        B
2         3        C

In [8]:
# Exportation vers un fichier CSV
df.to_csv('output.csv')
print("Fichier créé")

Fichier créé

In [9]:
df.to_csv('output.csv', index=False, sep=";")
print("Fichier créé")

Fichier créé

## Création d'un fichier Excel

In [10]:
# Exportation vers un fichier Excel
df.to_excel('output.xlsx', index=False)
print("Fichier créé")

Fichier créé

In [11]:
df_modifie1 = df.drop(2)
df_modifie1

   Colonne1 Colonne2
0         1        A
1         2        B

In [12]:
#chemin_complet = r"D:\Users\amine\Documents\Temp\Buffer\output.xlsx"
chemin_complet = "output_v2.xlsx"
df_modifie1.to_excel(chemin_complet, index=False)
print("Fichier créé")

Fichier créé

In [13]:
# Création d'un fichier Excel avec plusieurs onglets
with pd.ExcelWriter("output_v3.xlsx") as writer:  
    df.to_excel(writer, sheet_name='Complet')
    df_modifie1.to_excel(writer, sheet_name='Modifié')

print("Fichier créé")

Fichier créé