## Importation de données

In [1]:
# Lecture d'un fichier texte
with open('input.txt', 'r') as file:
    contenu = file.read()
    print(contenu)

Contenu du fichier `input.txt`.
Fin du fichier.

In [2]:
import json

# Lecture d'un fichier JSON
with open('input.json', 'r') as file:
    donnees_json = json.load(file)

# Affichage des données
pretty_json = json.dumps(donnees_json, indent=2)
print(pretty_json)

{
  "menu": {
    "id": "file",
    "value": "File",
    "popup": {
      "menuitem": [
        {
          "value": "New",
          "onclick": "CreateNewDoc()"
        },
        {
          "value": "Open",
          "onclick": "OpenDoc()"
        },
        {
          "value": "Close",
          "onclick": "CloseDoc()"
        }
      ]
    }
  }
}

In [3]:
# Accès à un élément du json
donnees_json['menu']['popup']['menuitem'][0]['value']

'New'

### Utilisation de la librairie Pandas

In [6]:
import pandas as pd

# Lecture d'un fichier CSV
donnees_csv = pd.read_csv("input.csv")

# Affichage des premières lignes
display(donnees_csv)

     Color Color Code
0      Red    #FF0000
1    Green    #00FF00
2     Blue    #0000FF
3     Cyan    #00FFFF
4  Magenta    #FF00FF
5   Yellow    #FFFF00

In [8]:
import pandas as pd

# Lecture d'un fichier CSV
donnees_csv = pd.read_csv('input2.csv', delimiter=";")

# Affichage des premières lignes
donnees_csv.head()

     Color Color Code
0      Red    #FF0000
1    Green    #00FF00
2     Blue    #0000FF
3     Cyan    #00FFFF
4  Magenta    #FF00FF

In [9]:
import pandas as pd

# Lecture d'un fichier Excel
donnees_excel = pd.read_excel('input.xlsx')

# Affichage des premières lignes
display(donnees_excel)

     Color Color Code
0      Red    #FF0000
1    Green    #00FF00
2     Blue    #0000FF
3     Cyan    #00FFFF
4  Magenta    #FF00FF
5   Yellow    #FFFF00

In [10]:
#Affichage de l'onglet "Sheet1"

# Lecture d'un fichier Excel
donnees_excel = pd.read_excel('input.xlsx', sheet_name="Sheet1")

# Affichage des premières lignes
donnees_excel

     Color Color Code
0      Red    #FF0000
1    Green    #00FF00
2     Blue    #0000FF
3     Cyan    #00FFFF
4  Magenta    #FF00FF
5   Yellow    #FFFF00

In [11]:
print("donnees_csv")
display(donnees_csv)
print("donnees_excel")
display(donnees_excel)

donnees_csv

     Color Color Code
0      Red    #FF0000
1    Green    #00FF00
2     Blue    #0000FF
3     Cyan    #00FFFF
4  Magenta    #FF00FF
5   Yellow    #FFFF00

donnees_excel

     Color Color Code
0      Red    #FF0000
1    Green    #00FF00
2     Blue    #0000FF
3     Cyan    #00FFFF
4  Magenta    #FF00FF
5   Yellow    #FFFF00