In [8]:
import pandas as pd
import psycopg2

In [9]:
# Paramètres de la connexion
db_user = 'postgres'
db_password = 'pass123'
db_host = '127.0.0.1'
db_port = '5432'
db_name = 'postgres'

In [10]:
from sqlalchemy import create_engine

# Créer une chaîne de connexion PostgreSQL compatible avec SQLAlchemy
connection_string = f"postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"

# Créer le moteur SQLAlchemy
engine = create_engine(connection_string)

# Requête SQL
requete_sql = "SELECT * FROM public.utilisateurs;"

# Utilisation de pandas pour exécuter la requête et récupérer les données sous forme de DataFrame
df = pd.read_sql(requete_sql, engine)

# Afficher les premières lignes du DataFrame
df.head()

,id,nom,email,mot_de_passe,date_inscription
0,1,Alice Dupont,alice.dupont@example.com,password1,2024-08-22 16:31:33.413063
1,2,Bob Martin,bob.martin@example.com,password2,2024-08-22 16:31:33.413063
2,3,Charlie Durand,charlie.durand@example.com,password3,2024-08-22 16:31:33.413063
3,4,Diane Leroy,diane.leroy@example.com,password4,2024-08-22 16:31:33.413063

In [12]:
df[df["nom"] == "Bob Martin"]

,id,nom,email,mot_de_passe,date_inscription
1,2,Bob Martin,bob.martin@example.com,password2,2024-08-22 16:31:33.413063